<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee">
    <display-name>Archetype Created Web Application</display-name>


    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath*:beans*.xml</param-value>
    </context-param>

    <servlet>
        <servlet-name>Jersey Web Application</servlet-name>
        <servlet-class>
            com.sun.jersey.spi.container.servlet.ServletContainer
        </servlet-class>
        <init-param>
            <param-name>
                com.sun.jersey.config.property.packages
            </param-name>
            <param-value>
                com.jdbc.demo.web.rest;org.codehaus.jackson.jaxrs
            </param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Jersey Web Application</servlet-name>
        <url-pattern>/api/*</url-pattern>
    </servlet-mapping>

    <context-param>
        <param-name>drivers</param-name>
        <param-value>com.jdbc.demo.services.DriverManager</param-value>
    </context-param>

    <context-param>
        <param-name>addresses</param-name>
        <param-value>com.jdbc.demo.services.AddressManager</param-value>
    </context-param>

    <filter>
        <filter-name>AuthenticationFilter</filter-name>
        <filter-class>com.jdbc.demo.web.AuthenticationFilter</filter-class>
    </filter>

    <filter>
        <filter-name>RequestLoggingFilter</filter-name>
        <filter-class>com.jdbc.demo.web.RequestLoggingFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>AuthenticationFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>RequestLoggingFilter</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>

    <servlet>
    <servlet-name>DriverEditServlet</servlet-name>
    <servlet-class>com.jdbc.demo.web.routing.DriverEditServlet</servlet-class>
</servlet>

    <servlet-mapping>
        <servlet-name>DriverEditServlet</servlet-name>
        <url-pattern>/drivers/edit/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DriverAddServlet</servlet-name>
        <servlet-class>com.jdbc.demo.web.routing.DriverAddServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>DriverAddServlet</servlet-name>
        <url-pattern>/drivers/add</url-pattern>
    </servlet-mapping>

</web-app>
